@using DRR_PRESENTATION.Models

@inject TranslationService Translator

<nav id="mainNav" data-aos="fade-down" data-aos-duration="1000" class="navbar">
    <div class="navbar-container">
        <!-- Botón hamburguesa (visible solo en móviles) -->
        <button id="hamburgerBtn" class="btn-hamburger" onclick="toggleMobileMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
        </button>

        <!-- Logo -->
        <div class="logo-container" onclick="scrollToSection('inicio')">
            @if (EmpresaData != null && !string.IsNullOrEmpty(EmpresaData.Logo))
            {
                <img id="logo" src="data:image/png;base64,@EmpresaData.Logo" alt="Logo" />
            }
        </div>

        <!-- Menú de navegación -->
        <div id="navMenu" class="nav-menu">
            <ul>
                <li><button id="btnInicio" onclick="scrollToSection('inicio')" class="nav-button">@((MarkupString)Translator.Translate("inicio"))</button></li>
                <li><button onclick="scrollToSection('objetivo')" class="nav-button">@((MarkupString)Translator.Translate("objetivo"))</button></li>
                <li><button onclick="scrollToSection('productos')" class="nav-button">@((MarkupString)Translator.Translate("productos"))</button></li>
                <li><button onclick="scrollToSection('registro')" class="nav-button">@((MarkupString)Translator.Translate("registro"))</button></li>
                <li><button onclick="scrollToSection('contactanos')" class="nav-button">@((MarkupString)Translator.Translate("contactanos"))</button></li>
            </ul>
        </div>

        <LanguageSelector />

    </div>
</nav>

@code {
    [Parameter]
    public Empresa? EmpresaData { get; set; }
}
